.html{
    flex-grow: 0.5;
    max-width: 550px;
    position: relative;
}

.htmlCode{
    margin-top: 0;
    background-color: var(--secondary)
}
.code{ 
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    line-height: 28.5px;
}


.pre {
    height: 100%;
    padding: 0;
    counter-reset: line;
    position: relative;
    padding-left: 35px;
    height: fit-content;
}

.pre > span:before {
    font-size: 20px;
    position: absolute;
    left: 0;
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 30px;
    display: flex;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 5px;
    margin-right: 5px;
    text-align: right;
}
  