.level{
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    justify-content: flex-start;
    user-select: none;
}

.position{
    font-size: 1rem;
}
.level::before{
    padding-left: 5px;
    margin-top: 5px;
    margin-right: 10px;
    content: "";
    border: solid 3px ;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    width: 8px;
    height: 13px;
}

.active{
    background-color: var(--current-color);
}
.skipped::before{
    border-color: var(--skipped-color);
}
.passed::before{
    border-color: var(--passed--color);
}

.name {
    margin-left: 10px;
    white-space: nowrap;
}