plate, bento {
    min-width: 100px;
    min-height: 100px;
    position: relative;
    box-shadow: 0 8px #0000001a;
    display: flex;
    justify-content: center;
    align-items: center;
}

plate {
    border-radius: 50%;
    border-bottom: solid 5px #ddd;
    background-color: #fff;
}

plate:before {
    content: "";
    display: block;
    position: absolute;
    left: 18%;
    top: 18%;
    height: 65%;
    width: 65%;
    border-radius: 60%;
    border-top: solid 6px #ccc;
    opacity: .4;
    background: #fff;
}

plate#fancy:after {
    content: "";
    display: block;
    position: absolute;
    left: 3%;
    top: 6%;
    height: 68%;
    width: 74%;
    border-radius: 60%;
    border: solid 10px #009ff2;
    opacity: .4;
}

bento {
    background: brown;
    position: relative;
    border: solid 3px #711c12;
    border-width: 20px 2px;
}

bento:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border: solid 10px rgba(0, 0, 0, .1);
    border-width: 10px 0 0 0px;
}

apple, orange {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px 4px 15px 4px;
    z-index: 2;
}

apple {
    background: #e41919;
    border-color: #ab1212;
}

apple:before, orange:before {
    content: "";
    position: relative;
    display: block;
    z-index: 5;
    left: 20px;
    background: rgba(255, 255, 255, .3);
    height: 30%;
    width: 30%;
    top: 0;
    left: 35%;
    border-radius: 100px;
}

apple.small, orange.small {
    height: 30px;
    width: 30px;
    border-width: 2px 4px 8px 4px;
}

pickle.small {
    height: 40px;
    width: 18px;
    border-width: 1px 2px 6px 2px;
}

orange {
    background: orange;
    border-color: #bd6e07;
}

pickle {
    z-index: 2;
    width: 25px;
    height: 60px;
    border-radius: 30px;
    background: #179837;
    border: solid 2px #025a18;
    border-width: 2px 2px 9px 2px;
}

@media (max-width: 1200px){
    plate, bento {
        min-width: 50px;
        min-height: 50px;
    }
    pickle {
      height: 30px;
      width: 15px;  
    }

    apple, orange {
        height: 30px;
        width: 30px;
    }
}

.table .selected {
    animation-name: selected;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@media (max-width: 850px) {
    .table {
        gap: 15px;
        min-height: 122px;
    }
    apple.small, orange.small {
        height: 30px;
        width: 30px;
        border-width: 2px 4px 8px 4px;
    }
    pickle.small {
        height: 40px;
        width: 18px;
        border-width: 1px 2px 6px 2px;
    }
}


@keyframes swing {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

.target {
    animation: swing 2s infinite ease;
}

.target .apple{
    left: 25% !important;
    transform: translate(50%);
    animation: dd  2s 1  ease;
}

@keyframes selected {
    0% {
        transform: translateY(-30%);
    }
    to {
        transform: translateY(-2500px);
    }
}

@keyframes selected-children {
    0% {
        transform: translateY(-30%) translate(-50%);
    }
    to {
        transform: translateY(-2500px);
    }
}

.selected {
    animation-name: selected;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

