.result{
    margin: 20px auto;
    height: 250px;
    width: 50vw;
    display: flex;
    justify-content: center;
    padding: 0;
    max-width: 600px;
    width: fit-content;
}


.table {
    min-width: 300px;
    transform-style: preserve-3d;
    min-height: 142px;
    padding: 15px 15px 22px;
    box-shadow: 0 40px 10px #0003;
    background: linear-gradient(#555454, #bebbbb);
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    transform: rotateX(20deg);
    perspective: 300px;

}

.table .table-edge {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 12px;
    background: #cecece;
    transform: rotateX(-40deg);
    transform-origin: top;
}

.table-edge:before, .table-edge:after {
    content: "";
    width: 24px;
    height: 10px;
    background: #858483;
    position: absolute;
    top: 100%;
}

.table-edge:before {
    left: 20px;
}

.table-edge:after {
    right: 20px;
}

.table * {
    transform-origin: bottom center;
}

.table .selected {
    animation-name: selected;
    animation-duration: 1s;
    animation-timing-function: linear;
}


.section {
    display: flex;
    gap: 20px;
    align-items: center; 
}
